<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            transition: all 0.3s;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #696969;
            color: white;
        }

        td {
            text-align: center;
            margin-bottom: 2px;
            padding: 10px 0;
        }
    </style>
    {{{body}}}
</body>
</html>
